```{=latex}
\CoverPage{<< title|tex >>}{<< subtitle|tex >>}{<< tagline|tex >>}
\begin{CoverBody}
```

<< body >>
<% if website %>

```{=latex}
\CoverOnline{<< website.href|tex_url >>}{<< website.display|tex >>}{<< website.edition|tex >>}
```
<% endif %>

```{=latex}
\end{CoverBody}
```
