```{=latex}
\CoverPage{<< title|tex >>}{<< subtitle|tex >>}{<< tagline|tex >>}
```

<< body >>

```{=latex}
\CoverStats{<< stats.recipes >>}{<< stats.teams >>}{<< stats.components >>}{<< stats.menus >>}
```
